{% extends "dashboard/dashboard_base.html" %}

{% block title %}{{ g.organization.name }} -  Create Ticket {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('tickets.save')}}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.csrf, form.title, form.body, form.priority,
        form.product, form.tags, form.owner, form.tid], ignore_required='true', legend="New Ticket") }}
        {{ forms.action_buttons("Create", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

