{% extends dashboard_base.html %}

{% block title %}{{ g.organization.name }} - Edit Ticket - {{ticket.title}} {% endblock %}

{% block dash_content %}
<div class="row">
		<div class="span12">
			<form class="form-horizontal" method="POST" action="{{url_for(ticket.ticket_edit)}}">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="product">Select Product</label>
							<div class="controls">
									<select id="product">
										<option value="{{ ticket.product }}"> {{ ticket.product.name }} </option>
										{% for product in products %}
											{% if product not in ticket.product %}
												<option value="{{product.data.id}}"> {{ product.data.name }} </option>
											{% endif %}
										{% endfor %}
									</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="title"> Title </label>
								<div class ="controls">
									<input id="title" class="input-xlarge" type ="text"> {{ ticket.title }}</input>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="body"> Description </label>
								<div class="controls">
									<textarea id="body" class="input-xlarge" rows="5"> {{ ticket.body }} </textarea>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="priority"> Priority </label>
								<div class="controls">
									<select id="priority">
											<option value="{{ticket.priority}}"> {{ ticket.priority }} </option>
										{% for i in 11|make_list %}
											{% if i not in ticket.priority %}
											<option value="{{i}}">{{i}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="status"> Change Status </label>
								<div class="controls">
									<select id="status">
										<option value="{{ticket.status}}"> 
												{% if ticket.status is 0 %}
													New
												{% else if ticket.status is 1}
													Opened
												{% else if ticket.status is 2}
													Assigned
												{% else if ticket.status is 3}
													Re-opened
												{% else if ticket.status is 4}
													Closed
												{% else if ticket.status is 5}
													Pending
												{% else if ticket.status is 6}
													Will not fix
												{% endif %}
										 </option>
										{% for i in 7|make_list}
											{% if i not in ticket.status %}
											<option value="{{i}}"> 
												{% if i is 0 %}
													New
												{% else if i is 1}
													Opened
												{% else if i is 2}
													Assigned
												{% else if i is 3}
													Re-opened
												{% else if i is 4}
													Closed
												{% else if i is 5}
													Pending
												{% else if i is 6}
													Will not fix
												{% endif %}
												
												</option>
											{% endif %}
										{% endfor %}
									</select>
							</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="active"> Active </label>
						<div class="controls">
							<select id="active">
									<option value="{{ticket.active}}"> Active </option>
									<option value="false"> Inactive/Delete Ticket </option>
							</select>
							<p class="help-block"> Once you set a ticket to inactive, there is no going back! </p>
						</div>
					</div>
										
						
						
						<input type="hidden" name="owner" value="{{session.username.data}}">
						<input type="hidden" name="organization" value="{{session.organization.data}}">
						<div class="form-actions">
								<button class="btn btn-primary" type="submit">Submit Changes</button>
								<button class="btn" type="reset">Cancel</button>
						</div>
						</fieldset>
					</form>
 
{% endblock %}
