{% extends "dashboard/dashboard_base.html" %}

{% block title %} {{ g.organization.name }} - Browse Tickets {% endblock %}
{% block dash_content %}
<div class="row-fluid">
	<div class="span12 well">
		<h3>Search Results for {{ q }}</h3>
            <table class="table table-striped">
                <thead> 
                    <tr>
                        <th> Ticket Title </th>
                        <th> Last Updated</th>
                        <th> Product </th>
                        <th> Current Owner </th>
                        <th> Status </th>
                        <th> Priority </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                            <tr>
                                <td><a href="{{ url_for('tickets.view',
										id=ticket._id)}}">
										{{ ticket.title }}
								</a></td>
								<td>
                                	{{ ticket.last_modified|timestamp_format }}
                            	 </td>
                                <td> <span class="label label-info"> {{
                                        ticket.product.name }} </span> </td>
                                <td> {{ ticket.owner.name|display_name }}</td>
                                <td> <span class="label label-important"> {{
                                        ticket.status|readable_status }} </span> </td>
                                <td> <span class="label label-warning"> {{
										ticket.priority|readable_priority }} </span></td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
