{%- macro span8_tile(content_array) -%}
    {% for row in content_array %}
        <div class="row">
            {% for content in row %}
                <div class="span8">
                    <div class ="well">
                        {{ content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{%- macro span8_ticketlist(ticket_array) -%}
    <div class="row"> 
        <div class ="span8">
            <div class="well">
                <h2>Your Tickets</h2>
                <table> 
                    <thead>
                        <tr>
                            <th> Status </th>
                            <th> Ticket Title </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in ticket_array %}
                        <tr>
                            {% for content in row %}
                            <td> {{ content.status }} </td>
                            <td>  {{ content.title }} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}	
                    </tbody>	
                </table>
            </div>
        </div>
    </div>
{% endmacro %}
