{% extends "dashboard/dashboard_base.html" %}
{% import 'dashboard/ticket_utils.html' as tickets %}
{% block title %} {{ticket.title}} {%endblock%}

{% block dash_content %}
<div class="row">
	<div class="well">
		<h1>{{ ticket.title }}</h1>
		<div class="span12">
			<div class="span6">
				<h6>
					Product: <span class="label label-info">{{
						ticket.product.name }}</span>
					Status: <span class="label label-important">{{
						ticket.status|readable_status
						}}</span><br />
					Priority: <span class="label label-warning">
						{{ ticket.priority|readable_priority }}</span>
					{% if ticket.tags|count > 0 %}
						Tags: 
						{% for tag in ticket.tags %}
							<span class="label">
								<a href="{{ url_for('tickets.tag_view',
									tag=tag) }}">{{ tag }}</a>
							</span> 
						{% endfor %}
					{% endif %}
				</h6>
			</div>
			<div class="span5">
				<h6>
					Reported by: {{
					ticket.changesets[-1].owner.name|display_name }} <br />
					Assigned to: {{ ticket.owner.name|display_name }}
				</h6>
			</div>
		</div>
		<br /><hr />
		{{ ticket.body }}
		<hr />
		<h2>Activity</h2>
		{% for changeset in ticket.changesets %}
			{% if 'new' in changeset.types or 'comments' in changeset.types 
				or 'status' in changeset.types or 'owner' in changeset.types 
				or 'priority' in changeset.types or 'body' in changeset.types 
				or 'title' in changeset.types %}
				<blockquote>
					{% if 'status' in changeset.types %}
						<b>Changed status to {{
							changeset.fields.status.0|readable_status
							}}</b><br />
					{% endif %}
					{% if 'new' in changeset.types %}
						<b>Opened ticket</b> <br>
					{% endif %}
					{% if 'owner' in changeset.types %}
						<b>Changed owner to 
							{{ changeset.fields.owner.0.name|display_name }}
						</b><br />
					{% endif %}
					
					{% if 'title' in changeset.types %}
						<b>Changed title to</b> {{ changeset.fields.title.0
						}}<br />
					{% endif %}
					
					{% if 'priority' in changeset.types %}
						<b>Changed priority to {{
							changeset.fields.priority.0|readable_priority
							}} </b><br />
					{% endif %}
					
					{% if 'body' in changeset.types %}
						<b>Edited ticket description:</b> <br />
						{{ changeset.fields.body.0 }} <br />
					{% endif %}					
					{% if 'comments' in changeset.types %}
						{% for comment in changeset.fields.comments %}
							{% if comment|count > 0 %}
								{{ comment.0.body }}
							{% endif %}
						{% endfor %}
					{% endif %}
					<small>{{ changeset.owner.name|display_name }}
					   	at {{ changeset.timestamp|timestamp_format }}
					</small>
				</blockquote>
			{% endif %}
		{% endfor %}
		{% if commentable %}
			<form method="POST" action="{{ url_for('tickets.save', id=ticket._id) }}"
				class="form-horizontal zeropad">
				{{ forms.form_fields([form.csrf, form.title, form.body,
				form.status, form.priority, form.product, form.tags, form.owner, 
				form.tid, form.new_comment],
				ignore_required='true', legend="Add a comment") }}
				<a href="{{ url_for('tickets.delete', id=ticket.id) }}">Delete
					Ticket</a>
				{{ forms.action_buttons("Save Changes", size="large") }}

			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
