{% import 'forms.html' as forms %}
{% import 'common.html' as common %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Semaphore - {% block title %}{% endblock %} </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le styles -->

		{{ common.include_style() }}
		{% block stylesheets %}{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/less-1.1.5.min.js') }}"></script>
		<script src="{{ url_for('static',
      filename='lib/bootstrap/js/bootstrap.js') }}"></script>

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>

	<body>
		{% block pre_content_area %}{% endblock %}
		<div class="container{% block layout_type %}{% endblock %}">
			{{ common.show_flash() }}
			{% block content %}{% endblock %}
		</div>
		{% block post_content_area %}
		{% endblock %}
	</body>
</html>
