{% macro show_flash() -%}
	{% autoescape false %}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
          <a class="close" data-dismiss="alert" href="#">x</a>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% endautoescape %}
{%- endmacro %}

{% macro actually_include_style(sheet, type='less', prefix='css/') -%}
	{% autoescape false %}
		{% set path = prefix + sheet %}
		{% set fullPath = url_for('static', filename=path) %}
		<link rel='{{ type }}' href='{{ fullPath }}' />
	{% endautoescape %}	
{%-endmacro %}

{% macro include_style(sheet='', type='stylesheet/less', prefix='css/') -%}
	{% if sheet == '' %}
		{# include the default stylesheets #}
		{{ actually_include_style('lib/bootstrap/css/bootstrap.css', 'stylesheet', prefix='') }}
		{{ actually_include_style('layout.less', type, prefix) }}
	{% else %}
		{{ actually_include_style(sheet, type, prefix) }}
	{% endif %}
{%- endmacro %}
