{%- macro form_field_label(field, ignore_required) -%}
<label for="{{ field.id }}">{{ field.label.text }}
	{%- if field.flags.required and ignore_required == 'false' -%}
		<abbr title="Required">*</abbr>
	{%- endif %}
</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
	{% if field.description %}
		<span class="descr">{{ field.description }}</span>
	{% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
	{% if field.errors %}
		<div>
			{%- for error in field.errors -%}
			<span class="label important">{{ error }}</span>
		{%- endfor -%}
		</div>
	{% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
	<div class="input">
		<label>
			{{ field(**kwargs) }}
			<span>{{ field.label.text }}</span>
			{{ form_field_description(field) }}
			{{ form_field_errors(field) }}
		</label>
	</div>
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="Cancel", size="btn-large", submit_class="btn-primary", show_cancel="true") -%}
	<div class="form-actions zeropad">
		<input type="submit" class="btn {{submit_class}} {{size}}" value="{{submit_title}}" />
		{% if show_cancel == 'true' %}
			&nbsp;
			<button type="reset" class="btn">{{cancel_title}}</button>
		{% endif %}
	</div>
{%- endmacro -%}

{%- macro text_field(field, label, isRequired='false', helpblocktext=None, class ='input-xlarge', type='text') -%}
<div class="control-group">
	<label class="control-label" for={{label}}> {{ label }} </label>
	<div class ="controls">
		<input id={{ field }} class={{ class }} type = {{ type }}>
		<p class="help-block"> {{ helpblocktext }} </p>
	</div>
{%- endmacro -%}

{%- macro form_field(field, ignore_required) -%}
		{% if field.type == 'HiddenField' %}
			{{ field() }}
		{% else %}
      <div class="control-group">
			{% if field.type == 'BooleanField' %}
				{{ form_field_boolean(field, **kwargs) }}
			{% else%}
				{{ form_field_label(field, ignore_required) }}
				<div class="input" id="{{field.id}}-div">
				{{ form_field_description(field) }}
				{{ form_field_errors(field) }}
        <div class="controls">
          {% if field.type == 'RadioField' %}
            {{ field(class='radio-group', **kwargs) }}
          {% else %}
            {{ field(class='input-large', **kwargs) }}
          {% endif %}
        </div>
				</div>
      {% endif %}
      </div>
		{% endif %}
{%- endmacro -%}

{%- macro form_fields(fields, class=None, ignore_required='false', legend=None) -%}
	<fieldset {% if class %}class="{{class}}"{% endif %}>
		{% if legend %}
			<legend>{{legend}}</legend>
		{% endif %}
		{% for field in fields %}
			{% if field.type == 'HiddenField' %}
				{{ field() }}
			{% else %}
				{{ form_field(field, ignore_required) }}
			{% endif %}
		{% endfor %}
	</fieldset>
{%- endmacro -%}
