body { 
	background: url(/static/img/meadow_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.zeropad { 
	padding-bottom: 0px;
	margin-bottom: 0px;
}

form .zeropad {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

