
/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

.label {
	margin-right: 3px;
}

.label a {
	font-size: 9.75px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #999;
}

