{% extends "dashboard/dashboard_base.html" %}

{% block title %}Manage Organization{% endblock %}

{% block dash_content %}
<div class="row">
	<div class="offset1 span2 well">
		{# Sidebar! #}
		<ul class="nav nav-list">
			<li class="nav-header">Organization</li>
			<li>
				<a href="{{ url_for('management.organization_edit')
					}}">Configuration</a>
			</li>
			<li>
				<a href="{{ url_for('management.user_browse') }}">Manage Users</a>
			</li>
			<li>
				<a href="{{ url_for('management.products_browse')}}">
					Manage Products
				</a>
			</li>
		</ul>
	</div>
	<div class="span7 well">
		{% block management_content %}
			<h2>Semaphore Management</h2>
		{% endblock %}
	</div>
</div>
{% endblock %}
