{% extends "management/base.html" %}

{% block title %}Browse Products {% endblock %}
{% block management_content %}
	<h2>Select a product to edit</h2>
	{% for product in products %}
		<a href="{{ url_for('management.product_edit', id=product._id)}}">
			{{ product.name }}
		</a><br />
	{% endfor %}
	<br />
	<a href="{{ url_for('management.product_create') }}">Create new product</a>
{% endblock %}
