{% extends "dashboard/dashboard_base.html" %}

{% block title %} {{ g.organization.name }} - Create Product {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('management.product_save')}}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.csrf, form.name], ignore_required='true', legend="New Product") }}
        {{ forms.action_buttons("Create", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

