{% extends "dashboard/dashboard_base.html" %}

{% block title %}Edit Product{% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('management.product_save')}}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.csrf, form.name, form.pid, form.active], ignore_required='true', legend="Edit Product") }}
        {{ forms.action_buttons("Submit Changes", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

