{% extends "management/base.html" %}

{% block title %}Browse Users{% endblock %}
{% block management_content %}
	<table class="table table-striped">
		<thead> 
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.name|display_name }}</td>
					<td>
						
						<!--| <a href="#">Manage Permissions</a>-->
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<form method="POST" action="{{url_for('management.user_add')}}" class="zeropad form-horizontal" _lpchecked="1">
          {{ forms.form_fields([form.csrf, form.name], ignore_required='true', legend="Append User to Organization") }}
        {{ forms.action_buttons("Create", size="large") }}
    </form>
    <hr>
	
	<a href="{{url_for('management.user_create')}}">Add User</a>
{% endblock %}
