{% extends "dashboard/dashboard_base.html" %}

{% block title %} {{ g.organization.name }} - Create User {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('management.user_save')}}" class="zeropad form-horizontal" _lpchecked="1">
          {{ forms.form_fields([form.csrf, form.name, form.username, form.password], ignore_required='true', legend="Create User") }}
        {{ forms.action_buttons("Create", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

