{% extends "dashboard/dashboard_base.html" %}

{% block title %} {{ g.organization.name }} - Edit User {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('auth.edit', id=id) }}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.f_name, form.l_name, form.password, form.active], ignore_required='true', legend="Edit User") }}
        {{ forms.action_buttons("Submit Changes", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

