{% extends "dashboard/dashboard_base.html" %}

{% block title %} {{ g.organization.name }} - User Profile - {{ session.username }} {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('management.edit_profile')}}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.name, form.password], ignore_required='true', legend="Your Profile") }}
        {{ forms.action_buttons("Submit Changes", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

