{% extends 'dashboard/dashboard_base.html' %}
{% block title %}{{ g.organization.name }} - Viewing User{% endblock %}
{% block dash_content %}
   
    <div class="span12">
    	 
		<div class="offset2">
			<h2>Viewing Profile :  {{ g.user.name.first}} {{ g.user.name.last }}</h2> <!-- Keep for testing-->
			<div class="well">
    			  
					    		<b>Email: </b>
					    			    		
					    		<a href="mailto:{{ g.user.username }}"> {{ g.user.username }} </a>
					    		
					    <br><br>
						<!--					    <a href="#">Edit Profile</a>-->
    		</div>
    	</div>
    </div>
{% endblock %}
