{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block stylesheets %}{{ common.include_style('login.less') }}{% endblock %}

{% block content %}
	<div class="row pad-top">
		<div class="span3 offset4 well">
			<form method="POST" action="{{url_for('auth.login')}}"
				class="zeropad form" _lpchecked="1">
				{{ forms.form_fields([form.csrf, form.username, form.password], ignore_required='true', legend="Greetings.") }}
				{{ forms.action_buttons("Login", show_cancel="false", size="large") }}
			</form>
		</div>
	</div>
{% endblock %}
