{% extends "dashboard/dashboard_base.html" %}

{% block title %} Create Organization {% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class="offset2">
    <form method="POST" action="{{url_for('organizations.create')}}" class="zeropad form-horizontal" _lpchecked="1">
        {{ forms.form_fields([form.csrf,form.name], ignore_required='true', legend="New Organization") }}
        {{ forms.action_buttons("Create", size="large") }}
    </form>
    	</div>
    </div>
{% endblock %}

