{% extends "dashboard/dashboard_base.html" %}

{% block title %} Inactive/Invalid Organization{% endblock %}

{% block dash_content %}
	<div class="span10">
		<div class ="offset2">
		Please switch to an active organization.
		</div>
    </div>
{% endblock %}

