{% extends 'base.html' %}

{% block pre_content_area %}
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a class="brand" href="{{ url_for('dashboard.index') }}">
					{{ g.organization.name }}
				</a>
				<ul class="nav">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-flag icon-white"></i>
						Tickets
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('tickets.create') }}">
							<i class="icon-plus-sign"></i>New Ticket
						</a></li>
						<li><a href="{{ url_for('tickets.browse') }}">
							<i class="icon-chevron-right"></i>Browse Tickets
						</a></li>
					</ul>
					</li>
				</ul>

				<form class="navbar-search" method="GET" action="{{
					url_for('tickets.search') }}">
					<input type="text" name="q" id="q" class="search-query" placeholder="Search" />
				</form>
				<ul class="nav pull-right">
					<li class="dropdown pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user icon-white"></i>
						{{ g.user.name|display_name }}
						<b class="caret"></b>
					</a> 
					<ul class="dropdown-menu">
						<li><a href="{{url_for('management.view_profile')}}"><i class="icon-cog"></i>Your Profile</a></li>
						<li><a href="{{url_for('management.index')}}"><i class="icon-flag"></i>Manage</a></li>
						{% if g.user.active_organizations | count > 1 %}
							<li class="divider"></li>
							{% for org in g.user.active_organizations %}
								<li>
									<a href="{{ url_for('auth.change_organization', id=org._id) }}">
										{{ org.name }}
									</a>
								</li>
							{% endfor %}
						{% endif %}
						<li class="divider"></li>
						<li><a href="{{ url_for('auth.logout') }}">
							<i class="icon-off"></i>
							Logout
						</a></li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="content">
		{% block dash_content %}
		{% endblock %}
	</div>
{% endblock %}
