{% extends "dashboard/dashboard_base.html" %}
 
{% block title %} Dashboard Home {% endblock %}

{% block dash_content %} 

<div class="row">

 <div class="span6">
                    <div class ="well">
                    		<h2> Recent Activity</h2>
                    		<table class="table table-striped">
                <thead> 
                    <tr>
                        <th> Ticket Title </th>
                        <th> Last Updated</th>
                        <th> Status </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    	
                            <tr>
                                <td><a href="{{ url_for('tickets.view',
										id=ticket._id)}}">
										{{ ticket.title }}
								</a></td>
								<td>
                                	{{ ticket.last_modified|timestamp_format }}
                            	 </td>
                             

                                <td> <span class="label label-important"> {{
                                        ticket.status|readable_status }} </span> </td>
                               
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    

 <div class="span6">
                    <div class ="well">
                    		<h2> Your Tickets</h2>
                    		<table class="table table-striped">
                <thead> 
                    <tr>
                        <th> Ticket Title </th>
                        <th> Last Updated</th>
                        <th> Status </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in my_tickets %}
                    	
                            <tr>
                                <td><a href="{{ url_for('tickets.view',
										id=ticket._id)}}">
										{{ ticket.title }}
								</a></td>
								<td>
                                	{{ ticket.last_modified|timestamp_format }}
                            	 </td>
                             

                                <td> <span class="label label-important"> {{
                                        ticket.status|readable_status }} </span> </td>
                               
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
    
    
    
    
</div>
{% endblock %}
