{%- macro ticket_description(ticket) -%}
<h1></h1><br>
<div class ="row-fluid">
	<div class ="well">
		<table>
			<h1> {{ticket.title}} </h1>
			<tr>
				<th>Priority: </th>
				<td> <span class="label important"> {{ticket.priority}} </span> </td>

				<th>Tags: </th>
				<td> {% for tag in ticket.tags %}<span class="label"> {{tag}} </span> {% endfor%}</td>


			</tr>

			<tr>
				<th>Status: </th>
				<td> 
					<span class="label warning">
						{{ ticket.status_readable }}
					</span>
				</td>
				<th>Attachments: </th>
				<td> {% for files in ticket.attachments %} List attachment  {% endfor %}</td>	 

			</tr>


		</table>
		<br />
		<h4>Description:</h4> <br> {{ ticket.body }}
	</div>
</div>

{% endmacro %}


{%- macro comment_span12_tile(comment_array) -%}
{% for row in comment_array %}
<div class="row">
	{% for content in row %}
	<div class="span12">
		{{comment.username}}            <br> <br>		{{ comment.body }}
	</div>
	{% endfor %}
</div>
{% endfor %}
{% endmacro %}
