
{%- macro span8_tile(content_array) -%}
{% for row in content_array %}
<div class="row">
{% for content in row %}
 <div class="span8">
                    <div class ="well">
                   		{{ content }}
                    </div>
                 </div>
{% endfor %}
</div>
{% endfor %}
{% endmacro %}
